body{
    background-color: white;
}

.destacado{
    background-color: gray;
}
.titulo{
    background-color: gray;
    
}
.datos{
    background-color: gray;
}
.experiencia{
    background-color: gray;
}
.formacion{
    background-color: gray;
}
.imagen{
    text-align: center;
}
.piedepagina{
        
    color: white;
    background-color: #005677;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Times New Roman', Times, serif;     
}
#sobremi{
    text-align: center;
    font-size: large;
    background-color: gray;
    color: white    ;
}